.input-name__overlay {
    position: fixed;
    top: 28px;
    bottom: 28px;
    left: 105px;
    right: 105px;
}

.modal {
    z-index: 900!important;
}

.modal-backdrop {
    z-index: 889!important;
}

.ant-modal {
    width: 400px !important;
}

.time-tracking-icon {
    font-size: 20px;
    margin-right: 10px;
}

.modal-input.ant-input-number {
    width: 100% !important;
}

.modal-label {
    font-size: 13px;
    margin-bottom: 4px;
    color: rgb(94, 108, 132);
}

.account-log-out {
    padding-top: 12px;
}